# **Preprocessing**

In [3]:
import pandas as pd

df = pd.read_csv("Sales Transaction v.4a.csv")

custom_order = ['TransactionNo', 'CustomerNo', 'Date', 'ProductNo', 'ProductName', 'Price', 'Quantity', 'Country']
df = df[custom_order]
df['Date'] = pd.to_datetime(df['Date'])
df

,TransactionNo,CustomerNo,Date,ProductNo,ProductName,Price,Quantity,Country
0,581482,17490.0,2019-12-09,22485,Set Of 2 Wooden Market Crates,21.47,12,United Kingdom
1,581475,13069.0,2019-12-09,22596,Christmas Star Wish List Chalkboard,10.65,36,United Kingdom
2,581475,13069.0,2019-12-09,23235,Storage Tin Vintage Leaf,11.53,12,United Kingdom
3,581475,13069.0,2019-12-09,23272,Tree T-Light Holder Willie Winkie,10.65,12,United Kingdom
4,581475,13069.0,2019-12-09,23239,Set Of 4 Knick Knack Tins Poppies,11.94,6,United Kingdom
...,...,...,...,...,...,...,...,...
536345,C536548,12472.0,2018-12-01,22168,Organiser Wood Antique White,18.96,-2,Germany
536346,C536548,12472.0,2018-12-01,21218,Red Spotty Biscuit Tin,14.09,-3,Germany
536347,C536548,12472.0,2018-12-01,20957,Porcelain Hanging Bell Small,11.74,-1,Germany
536348,C536548,12472.0,2018-12-01,22580,Advent Calendar Gingham Sack,16.35,-4,Germany
536349,C536548,12472.0,2018-12-01,22767,Triple Photo Frame Cornice,20.45,-2,Germany

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536350 entries, 0 to 536349
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TransactionNo  536350 non-null  object
 1   CustomerNo     536295 non-null  float64
 2   Date           536350 non-null  datetime64[ns]
 3   ProductNo      536350 non-null  object
 4   ProductName    536350 non-null  object
 5   Price          536350 non-null  float64
 6   Quantity       536350 non-null  int64
 7   Country        536350 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 32.7+ MB

In [5]:
print(f'Cek missing value:\n{df.isnull().sum()}')
print(f'Cek duplicated value: {df.duplicated().sum()}')

Cek missing value:
TransactionNo     0
CustomerNo       55
Date              0
ProductNo         0
ProductName       0
Price             0
Quantity          0
Country           0
dtype: int64
Cek duplicated value: 5200

In [6]:
df = df.dropna()
df = df.drop_duplicates()
print(f'Cek missing value:\n{df.isnull().sum()}')
print(f'Cek duplicated value: {df.duplicated().sum()}')

df['CustomerNo'] = df['CustomerNo'].astype('int')
df = df[df['Quantity'] >= 0]
df = df.sort_values(by='Date')
df.to_csv('df_cleaned.csv', index=False)

Cek missing value:
TransactionNo    0
CustomerNo       0
Date             0
ProductNo        0
ProductName      0
Price            0
Quantity         0
Country          0
dtype: int64
Cek duplicated value: 0

# **Load Data**

In [1]:
import pandas as pd

df_cleaned = pd.read_csv('df_cleaned.csv')
df_cleaned

,TransactionNo,CustomerNo,Date,ProductNo,ProductName,Price,Quantity,Country
0,536597,18011,2018-12-01,22220,Cake Stand Lovebird 2 Tier White,20.45,1,United Kingdom
1,536523,12868,2018-12-01,22699,Roses Regency Teacup And Saucer,13.27,6,United Kingdom
2,536523,12868,2018-12-01,22969,Homemade Jam Scented Candles,11.74,12,United Kingdom
3,536523,12868,2018-12-01,21259,Victorian Sewing Box Small,16.35,2,United Kingdom
4,536523,12868,2018-12-01,21485,Retrospot Heart Hot Water Bottle,15.32,3,United Kingdom
...,...,...,...,...,...,...,...,...
522596,581498,14498,2019-12-09,21935,Suki Shoulder Bag,6.19,7,United Kingdom
522597,581498,14498,2019-12-09,21942,Skulls Design Flannel,6.19,1,United Kingdom
522598,581498,14498,2019-12-09,21955,Doormat Union Jack Guns And Roses,6.19,1,United Kingdom
522599,581498,14498,2019-12-09,21874,Gin And Tonic Mug,6.19,2,United Kingdom
522600,581482,17490,2019-12-09,22485,Set Of 2 Wooden Market Crates,21.47,12,United Kingdom

In [2]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522601 entries, 0 to 522600
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TransactionNo  522601 non-null  int64
 1   CustomerNo     522601 non-null  int64
 2   Date           522601 non-null  object
 3   ProductNo      522601 non-null  object
 4   ProductName    522601 non-null  object
 5   Price          522601 non-null  float64
 6   Quantity       522601 non-null  int64
 7   Country        522601 non-null  object
dtypes: float64(1), int64(3), object(4)
memory usage: 31.9+ MB

# **Pivot Table**

In [3]:
# pivot table: CustomerNo x ProductNo
pivot = df_cleaned.pivot_table(index='CustomerNo', columns='ProductNo', values='Quantity', aggfunc='sum').fillna(0)
if (pivot % 1 == 0).all().all(): # jika nilai seluruh df bil. bulat maka convert ke int jika tidak maka tetap float
    pivot = pivot.astype(int)

pivot

ProductNo,10002,10080,10120,10123C,10124A,10124G,10125,10133,11001,15030,...,90214O,90214P,90214R,90214S,90214T,90214U,90214V,90214W,90214Y,90214Z
CustomerNo,,,,,,,,,,,,,,,,,,,,,
12004,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12006,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12008,0,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
12013,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12024,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18280,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18281,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18282,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18283,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18287,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
pivot.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4718 entries, 12004 to 18287
Columns: 3753 entries, 10002 to 90214Z
dtypes: int32(3753)
memory usage: 67.6 MB

# **Collaboratif-Filtering**

In [6]:
from sklearn.neighbors import NearestNeighbors

# Inisialisasi model CF
model_cf = NearestNeighbors(metric='cosine', algorithm='brute')
model_cf.fit(pivot)

def recommend_cf(customer_id, k_neighbors=5):
    if customer_id not in pivot.index:
        print(f"Customer {customer_id} tidak ditemukan.")
        return []

    customer_index = pivot.index.get_loc(customer_id)
    query_vector = pivot.iloc[[customer_index]]
    distances, indices = model_cf.kneighbors(query_vector, n_neighbors=k_neighbors+1)

    similar_customers = [pivot.index[i] for i in indices.flatten() if pivot.index[i] != customer_id]
    similarity_scores = 1 - distances.flatten()
    similarity_scores = similarity_scores[1:]  # hilangkan skor untuk diri sendiri

    # Buat DataFrame skor similaritas
    sim_df = pd.DataFrame({
        'CustomerNo': similar_customers,
        'Similarity': similarity_scores
    })

    # Ambil data transaksi dari customer yang mirip
    similar_data = df_cleaned[df_cleaned['CustomerNo'].isin(similar_customers)].copy()

    cf_recommendations = similar_data.merge(sim_df, on='CustomerNo', how='left')
    cf_recommendations = cf_recommendations.sort_values(by='Similarity', ascending=False)
    cf_recommendations = cf_recommendations[['CustomerNo', 'ProductNo', 'ProductName', 'Quantity', 'Similarity']]
    
    return cf_recommendations

In [7]:
result_cf = recommend_cf(12433)
result_cf

,CustomerNo,ProductNo,ProductName,Quantity,Similarity
184,14619,22766,Photo Frame Cornice,8,0.401777
194,14619,23050,Recycled Acapulco Mat Green,2,0.401777
201,14619,22423,Regency Cakestand 3 Tier,2,0.401777
200,14619,22690,Doormat Home Sweet Home Blue,2,0.401777
199,14619,21169,You're Confusing Me Metal Sign,12,0.401777
...,...,...,...,...,...
243,14961,21626,Vintage Union Jack Pennant,12,0.374888
242,14961,21232,Strawberry Ceramic Trinket Pot,12,0.374888
241,14961,22499,Wooden Union Jack Bunting,9,0.374888
240,14961,37446,Mini Cake Stand With Hanging Cakes,8,0.374888
585,14961,22734,Set Of 6 Ribbons Vintage Christmas,12,0.374888

# **Content-Based Filtering**

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

product_info = df_cleaned[['ProductNo', 'ProductName']].drop_duplicates().reset_index(drop=True)
product_info = product_info.reset_index().rename(columns={'index': 'TFIDF_Index'})

vectorizer = TfidfVectorizer()
tfidf_matrix = vectorizer.fit_transform(product_info['ProductName'])

def recommend_cb(product_no, k=9):
    if product_no not in product_info['ProductNo'].values:
        print(f"ProductNo {product_no} tidak ditemukan.")
        return pd.DataFrame()
    
    idx = product_info[product_info['ProductNo'] == product_no].index[0]
    cosine_sim = cosine_similarity(tfidf_matrix[idx], tfidf_matrix).flatten() # Count cosine similarity
    similar_indices = cosine_sim.argsort()[-k-1:-1][::-1] # Mengambil ProdukNo mirip (selain dirinya sendiri)
    similarity_scores = cosine_sim[similar_indices]
    
    recommended = product_info.iloc[similar_indices].copy() # Mengambil data produk yang mirip
    recommended['Similarity'] = similarity_scores
    recommended['Rank'] = range(1, len(recommended) + 1)
    
    return recommended[['Rank', 'ProductNo', 'ProductName', 'Similarity']]

In [9]:
recommend_cb('21175')

      Rank ProductNo                     ProductName  Similarity
114      1     21519  Gin & Tonic Diet Greeting Card    0.733021
350      2     21874               Gin And Tonic Mug    0.689980
332      3     21911               Garden Metal Sign    0.347377
1462     4     21172                Party Metal Sign    0.334478
615      5     82578              Kitchen Metal Sign    0.324055
617      6     21171             Bathroom Metal Sign    0.310535
3329     7     23013   Glass Apothecary Bottle Tonic    0.287951
614      8     82581               Toilet Metal Sign    0.286676
825      9     22673   French Garden Sign Blue Metal    0.271675

# **Hybrid Recommendation**

In [10]:
def recommend_hybrid(customer_id, k_neighbors=5, top_n=9):
    # 1. Cari pelanggan mirip (Collaborative Filtering)
    cf_results = recommend_cf(customer_id, k_neighbors=k_neighbors)
    if cf_results is None or cf_results.empty:
        return pd.DataFrame()

    # 2. Ambil produk dari pelanggan mirip, yang belum dibeli customer saat ini
    produk_cf = cf_results['ProductNo'].unique()
    produk_customer = df_cleaned[df_cleaned['CustomerNo'] == customer_id]['ProductNo'].unique()
    produk_kandidat = list(set(produk_cf) - set(produk_customer))
    if not produk_kandidat:
        return pd.DataFrame()

    # 3. Cari produk mirip dari produk yang sudah dibeli customer
    rekomendasi = pd.DataFrame()
    for prod in produk_customer:
        rekom = recommend_cb(prod, k=len(produk_kandidat))
        rekom = rekom[rekom['ProductNo'].isin(produk_kandidat)]
        rekomendasi = pd.concat([rekomendasi, rekom], ignore_index=True)

    if rekomendasi.empty:
        print("Tidak menemukan produk mirip.")
        df_if_recom_empty = df_cleaned[['ProductNo', 'ProductName', 'Price']].drop_duplicates().head(top_n)
        return df_if_recom_empty

    # 4. Gabungkan dan ambil top-N produk mirip
    rekomendasi = (
        rekomendasi.groupby(['ProductNo', 'ProductName'], as_index=False)
        .agg({'Similarity': 'mean'})
        .sort_values(by='Similarity', ascending=False)
        .head(top_n)
        .reset_index(drop=True)
    )
    rekomendasi['Rank'] = rekomendasi.index + 1
    harga_produk = (df_cleaned.groupby('ProductNo', as_index=False).agg({'Price': ['min', 'max']}))
    harga_produk.columns = ['ProductNo', 'Price_min', 'Price_max']
    rekomendasi = rekomendasi.merge(harga_produk, on='ProductNo', how='left')
    rekomendasi['Price_Range'] = rekomendasi.apply(
    lambda row: f"£{row['Price_min']:.2f} - £{row['Price_max']:.2f}", axis=1
    )

    return rekomendasi[['Rank', 'ProductNo', 'ProductName', 'Price_Range', 'Similarity']]

In [11]:
result_hybrid = recommend_hybrid(12433)
result_hybrid

,Rank,ProductNo,ProductName,Price_Range,Similarity
0,1,22535,Magic Drawing Slate Bunnies,£5.13 - £11.12,0.693181
1,2,22537,Magic Drawing Slate Dinosaur,£6.04 - £11.12,0.612204
2,3,23356,Love Hot Water Bottle,£6.02 - £23.02,0.539857
3,4,22113,Grey Heart Hot Water Bottle,£6.04 - £19.61,0.494966
4,5,22111,Scottie Dog Hot Water Bottle,£5.97 - £27.34,0.483541
5,6,23298,Spotty Bunting,£5.97 - £21.31,0.454815
6,7,84029G,Knitted Union Flag Hot Water Bottle,£6.04 - £18.93,0.450235
7,8,23347,I Love London Beaker,£6.04 - £12.77,0.403976
8,9,22633,Hand Warmer Union Jack,£6.04 - £15.32,0.400843

# **Evaluation**

In [12]:
import numpy as np
from sklearn.metrics.pairwise import cosine_distances
from sklearn.feature_extraction.text import TfidfVectorizer

def count_diversity(df_produk):
    if df_produk.empty or len(df_produk) == 1:
        return 0.0

    tfidf = TfidfVectorizer()
    tfidf_matrix = tfidf.fit_transform(df_produk['ProductName'])

    distances = cosine_distances(tfidf_matrix)
    n = len(df_produk)
    total_dist = distances[np.triu_indices(n, k=1)].sum()
    count = len(np.triu_indices(n, k=1)[0])

    return total_dist / count if count != 0 else 0.0

In [13]:
count_diversity(result_hybrid)

0.8969766303064203

# **Popular Product**

In [16]:
top_products = (
    df_cleaned.groupby(['ProductNo', 'ProductName'])['Quantity'].sum().reset_index()
    .sort_values(by='Quantity', ascending=False).head(9))

top_product_nos = top_products['ProductNo']
filtered_df = df_cleaned[df_cleaned['ProductNo'].isin(top_product_nos)]

price_range = (
    filtered_df.groupby(['ProductNo', 'ProductName'])['Price']
    .agg(['min', 'max'])
    .reset_index()
)

price_range['Price Range'] = price_range.apply(
    lambda row: f"£{row['min']:.2f} - £{row['max']:.2f}" if row['min'] != row['max'] else f"£{row['min']:.2f}",
    axis=1
)

nine_popular_product = price_range[['ProductNo', 'ProductName', 'Price Range']]
nine_popular_product = nine_popular_product.sort_values(by='ProductNo').reset_index(drop=True)
nine_popular_product

  ProductNo                         ProductName     Price Range
0     21212     Pack Of 72 Retrospot Cake Cases  £5.97 - £15.37
1     22197                      Popcorn Holder  £5.97 - £12.77
2     23084                  Rabbit Night Light  £5.97 - £15.33
3     23166      Medium Ceramic Top Storage Jar  £5.97 - £12.77
4     23843           Paper Craft Little Birdie          £12.38
5     84077   World War 2 Gliders Asstd Designs  £6.04 - £10.90
6     84879       Assorted Colour Bird Ornament  £5.97 - £13.52
7    85099B             Jumbo Bag Red Retrospot   £5.13 - £7.66
8    85123A  Cream Hanging Heart T-Light Holder  £5.97 - £17.19

In [17]:
# save popular product
nine_popular_product.to_csv('top9_popular_product.csv', index=False)

# **Eksplorasi Statistik**
## **Total Transaksi**

In [19]:
total_transaksi = df_cleaned['TransactionNo'].count()
total_transaksi

522601

## **Total Product**

In [21]:
total_product = len(df_cleaned['ProductName'].unique())
total_product

3753

## **Total Customer**

In [22]:
total_customer = len(df_cleaned['CustomerNo'].unique())
total_customer

4718

## **Total Penjualan**

In [47]:
total_penjualan = (df_cleaned['Price']*df_cleaned['Quantity']).sum().round(2)
total_penjualan

62781304.54

## **Barchart: Total penjualan per-Negara**

In [57]:
import plotly.express as px

total = df_cleaned.copy()
total['Total'] = total['Price'] * total['Quantity']
total_penjualan_perCountry = total.groupby('Country')['Total'].sum().reset_index()
total_penjualan_perCountry = total_penjualan_perCountry.sort_values(by='Total', ascending=False)

fig = px.bar(
    total_penjualan_perCountry,
    x='Country',
    y='Total',
    title='Total Penjualan per-Negara',
    labels={'Total': 'Total Penjualan (£)', 'Country': 'Negara'},
    text_auto='.2s',
    color_discrete_sequence=['#00FFDE']
)

fig.update_layout(
    title={'text': 'Total Penjualan per Negara','x': 0.5,'xanchor': 'center'},
    xaxis_tickangle=-45,
    plot_bgcolor='white',
    yaxis_title='Total Penjualan (£)',
    xaxis_title='Negara',
)

In [54]:
timeseries = df_cleaned.copy()
timeseries['Date'] = pd.to_datetime(timeseries['Date'])
timeseries['Total'] = timeseries['Price'] * timeseries['Quantity']
timeseries['Month'] = timeseries['Date'].dt.to_period('M').dt.to_timestamp()
total_bulanan = timeseries.groupby('Month')['Total'].sum().reset_index()

fig = px.line(
    total_bulanan,
    x='Month',
    y='Total',
    title='Total Penjualan per-Bulan',
    labels={'Month': 'Bulan', 'Total': 'Total Penjualan (£)'},
    markers=True
)

fig.update_traces(line=dict(color='#00FFDE'), marker=dict(color='#00FFDE'))
fig.update_layout(
    plot_bgcolor='#222831',
    paper_bgcolor='#222831',
    font_color='white',
    title={'text': 'Total Penjualan per-Bulan','x': 0.5,'xanchor': 'center'},
    xaxis=dict(tickmode='linear', dtick='M1')
    )